.input-group {
  align-items: center;
  display: flex;
  margin-bottom: $m-size;
  flex-direction: column;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    margin-botto: $l-size;
  }
}

.input-group__item {
  margin-bottom: $s-size;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: 0;
    margin-right: $s-size;
  }
}